<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Page</title>

        <!-- Link main CSS file and additional fonts -->
        <link href="{{ plugin_path('EkomiFeedback') }}/css/main.css" rel="stylesheet">
    </head>

    <body>
        <!-- To Do list -->
        <div class="list">
            <h1 class="header">Hello</h1>
        </div>
    </body>
</html>
