.loyalista-btn-success{
    color: green;
}


.loyalista-btn-info{
    color: blue;
}

.loyalista-btn-danger{
    color: red;
}

.checkbox:checked:before{
    background-color:red;
}

div.loyalista-widget-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}
.checkbox:checked:before{
    background-color:red;
}

div#loyalista_error{
    color: red;
}

.un-registered-label,
.loyalista-label{
    background-color: #fff;
    text-align: left;
    color: #000;
    display: inline-block;
    cursor: pointer;
}

.loyalista-label {
    width: 280px;
}

div.loyalista-redemption-options-custom{
    display: inline-flex;
}

div.loyalista-checkout-widget_wrapper #loyalista_widget_chekcout_option_custom_value_wrapper {
    margin-left: 5px;
}

div.loyalista-redemption-options{
    display: grid;
}
div.pluginfy-checkout-notify-msg{
    color: red;
    margin: auto;
}
.loyalista-apply-redemption-btn{
    width: 40%;
    margin: 7px auto;
}

.loyalista-account-page{
    width: 40%;
    margin: auto;
}
