.loyalista-btn-success{
    color: green;
}


.loyalista-btn-info{
    color: blue;
}

.loyalista-btn-danger{
    color: red;
}

.checkbox:checked:before{
    background-color:red;
}

.loyalista-label {
    background-color: #fff;
    text-align: left;
    color: #000;
    display: inline-block;
    cursor: pointer;
}

div.loyalista-widget-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #666;
    padding: 5px;
}
.checkbox:checked:before{
    background-color:red;
}

div#loyalista_error{
    color: red;
}