<style>
    .un-registered-label {
        background-color: #fff;
        text-align: left;
        color: #000;
        display: inline-block;
        cursor: pointer;
    }
    div.loyalista-checkout-widget_wrapper{
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid #666 !important;
        padding: 5px;
    }
</style>
<div class="loyalista-widget-wrapper">
    <div class="loyalista-checkout-widget_wrapper">
        <h3>{{ widget_heading }}</h3>
        <label class="un-registered-label">
            <div class="loyalista_checkout_content_wrapper">
                <input id="yes_co_rgisistered_loyalista_programme" type="checkbox" value="text">
                {{ contents | raw }}
            </div>
        </label>
        <button class="btn btn-primary btn-appearance" onclick="ck_register_me(this)"> {{ btn_label }}</button>
    </div>
</div>

<script type="application/javascript">
    function setCheckoutPointBait(){
        let target_span = $('div.loyalista_checkout_content_wrapper').find('span.loyalista_co_num_of_points');
        $.ajax({
            url: '/user/total/basket/',
            type: "GET",
            data: {},
            dataType: "json",
            cache: true
        }).done(function (return_data) {
            try {

                var data;
                if (typeof return_data === 'object') data = return_data;
                else data = $.parseJSON(return_data);

                if (data.status === "OK") {
                    let basket_total = data.basket_total;
                    let conversion = target_span.data('checkout_revenue_to_point');
                    let points = Math.floor(basket_total /  conversion);
                    target_span.html(points);
                } else {
                    $(_obj).attr('disabled' , false);
                    alert(data.message);
                }
            } catch (error) {
                console.log(error);
                $(_obj).attr('disabled' , false);
            }
        }).fail(function (data) {
            $(_obj).attr('disabled' , false);
        });
    }

    function ck_register_me(_obj) {
        $(_obj).attr('disabled' , true);
        let checked = $('#yes_co_rgisistered_loyalista_programme').is(":checked");
        if(!checked){
            $(_obj).attr('disabled' , false);
            return false;
        }
        $.ajax({
            url: '/account/register/customer/',
            type: "GET",
            data: {},
            dataType: "json",
            cache: true
        }).done(function (return_data) {
            try {
                var data;
                if (typeof return_data === 'object') data = return_data;
                else data = $.parseJSON(return_data);
                if (data.status === "OK") {
                    location.reload();
                } else {
                    $(_obj).attr('disabled' , false);
                    alert(data.message);
                }
            } catch (error) {
                console.log(error);
                $(_obj).attr('disabled' , false);
            }
        }).fail(function (data) {
            $(_obj).attr('disabled' , false);
        });
    }

    $(function() {
        setCheckoutPointBait();
        // Event Handler
        $('.totalSum dd[data-testing="basket-amount"]').bind('DOMSubtreeModified', function(){
            setCheckoutPointBait();
        });

        setTimeout(function(){
            console.log('coBait-Working');
            setCheckoutPointBait();
        }, 2000);
    });

</script>
