<style>
    .label {
        background-color: #fff;
        text-align: left;
        color: #000;
        display: inline-block;
        cursor: pointer;
    }
    div.widget-checkout-widget_wrapper_loyalista{
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid #666 !important;
        padding: 5px;
    }

    div.pluginfy_checkout_cart_contents_wrapper #loyalista_widget_chekcout_option_custom_value {
        width: 100px;
    }
</style>

<div class="widget_wrapper_loyalista" style="">
    <h2>Bonusprogramm checkout</h2>
    <div class = "widget-checkout-widget_wrapper_loyalista">
        <span>{{ content_1 | raw }}</span><br /><hr />
        <label class="label">
           <input name="loyalista_widget_chekcout__options" class="loyalista_widget_chekcout_option_skip" id="loyalista_widget_chekcout_option_skip" type="radio" value="skip" checked> {{ content_2 }}
        </label>
        <label class="label">
            <input name="loyalista_widget_chekcout__options"  class="loyalista_widget_chekcout_option_all" id="loyalista_widget_chekcout_option_all" type="radio" value="all"> {{ content_3 }}
        </label>
        <label class="label">
            <div class="pluginfy_checkout_cart_contents_wrapper">
                <input name="loyalista_widget_chekcout__options" id="loyalista_widget_chekcout_option_custom" class="loyalista_widget_chekcout_option_custom" type="radio" value="custom">
                {{ content_4 }} <input type="text" name="loyalista_widget_chekcout_option_custom_value" id="loyalista_widget_chekcout_option_custom_value">
            </div>
        </label>
    </div>
</div>

<script>

    $('.widget-place-order .btn').on('click', function (event) {
        var current_widget = $('.widget-checkout-widget_wrapper_loyalista');
        var pointToValue = current_widget.find('span.loyalista_co_num_of_points').data('point_to_value');
        var selected_type = current_widget.find("input[name=loyalista_widget_chekcout__options]:checked").val();
        var pointsToRedeem = 0;
        if(selected_type === 'custom') {
            pointsToRedeem = current_widget.find("input[name=loyalista_widget_chekcout_option_custom_value]").val();
        } else if(selected_type === 'all') {
            pointsToRedeem = current_widget.find('span.loyalista_co_num_of_points').data('total_redeemable_points');
        } else {
            current_widget.hide();
        }

        if(pointsToRedeem > 0) {
            redeemPoints(pointsToRedeem, pointToValue).then(
                function (value) {
                    console.log(value);
                    },
                function (error) {
                    console.log(error);
                    event.preventDefault();
                }
            );
        }

        // setTimeout(function(){
        //     console.log(pointsToRedeem);
        // }, 2000);
    });

    async function redeemPoints(pointsToRedeem, pointToValue) {
        $.ajax({
            url: '/checkout/redeem/points/',
            type: "POST",
            data: {'pointsToRedeem' : pointsToRedeem, 'pointToValue' : pointToValue},
            dataType: "json",
            cache: true,
            async: false
        }).done(function (return_data) {
            console.log(return_data);
            return true;
        }).fail(function (data) {
            console.log(data);
            return true;
        });
    }


    function setCoPointBait(){

        let target_span = $('div.widget-checkout-widget_wrapper_loyalista').find('span.loyalista_co_num_of_points');

        $.ajax({
            url: '/user/total/basket/',
            type: "GET",
            data: {},
            dataType: "json",
            cache: true
        }).done(function (return_data) {
            try {

                var data;
                if (typeof return_data === 'object') data = return_data;
                else data = $.parseJSON(return_data);

                if (data.status === "OK") {

                    let basket_total = data.basket_total;
                    let conversion = target_span.data('revenue_to_point');

                    let points = ( basket_total /  conversion );
                    target_span.html(points);

                } else {
                    $(_obj).attr('disabled' , false);
                    alert(data.message);
                }
            } catch (error) {
                console.log(error);
                $(_obj).attr('disabled' , false);
            }
        }).fail(function (data) {
            $(_obj).attr('disabled' , false);
        });
    }




    $(function(){
        $('.totalSum dd[data-testing="basket-amount"]').bind('DOMSubtreeModified', function(){
            setCoPointBait();
        });

    });


</script>
