<h1>Cart Product Widget</h1>
<p>The loggedin customer id : {{ widgetData.customer_id }}</p>
<p>The getContactId : {{ widgetData.getContactId }}</p>
<p>The user fields : {{ widgetData.user_arr }}</p>
<h2>hi : {{ services.customer.getContactId() }}</h2>

