<div class="customer-feedback-widget">
    <h1>Customer Feedback Widget</h1>
    <h1>{{ widgetData.title }}</h1>
    <p>{{ widgetData.description }}</p>
    <p>{{ widgetData.show_as }}</p>
    <form method="post" action="/saveFeedback">
        <p>
            <input type="text" name="feedbackComment" placeholder="{{ widgetData.comment_placeholder }}">
        </p>
        <p>
            <input type="submit" value="Feedback Senden">
        </p>
    </form>
</div>